.contenedor {
    width: 900px;
    height: auto;
    border: 1px solid black;
    margin: auto;
}

.alta{
    display: flex;
    flex-direction: row;
    background-color: #95B3D7;
}
img {
    width: 90px;
    padding-left: 380PX;
    
}
.logo {
    width: 10%;
    
}

.mover{
    justify-content: center;
}
.universidad {
    color: #C60000;
    display: flex;
    flex-direction: column;
    width: 640px;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.universidad2 {
    color: black;
    display: flex;
    flex-direction: column;
    width: 640px;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.subtitulo {
    display: flex;
    justify-content: space-between;
    width: 350px;
}
.red{
    color: red;
    font-size: 22px;
}
.blue{
    color: black;
    font-size: 22px;
}
.media{
    background-color: #FFC000;
    display: flex;
    justify-content: space-between;
    width: 900px;
    font-size: 18px;
    text-align: center;
    
}
.media2{
    background-color: #0070C0;
    display: flex;
    padding: 15px;
    width: 450px;
    font-size: 18px;
    text-align: center;
    justify-content: center;
}
.baja{
    background-color: #C0504D;
}
.preguntas{
    background-color: #D9D9D9;
    display: flex;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.autentificacion {
    width: 780px;
    text-align: start;
}
img {
    width: 90px;
    padding-left: 380PX;
    
}
.logo2 {
    width: 55%;
    
}
#logos{
    width: 250px;
    padding-left: 70%;
}

.cajita1{
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: left;
        width: auto;
        height: auto;
        border-left: 1px solid black;
    }
    .cajita2{
        display: flex;
        flex-direction:row;
        align-items:center;
        justify-content: center;
        width: auto;
        height: auto;
        border-left: 1px solid black;
        
    }
    .cajita3{
        display: flex;
        flex-direction: row ;
        align-items: right;
        justify-content: right;
        width: auto;
        height: auto;
        border-left: 1px solid black;
    }
    .cajita4{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left; 
        width: auto;
        height: auto;
        border-left: 1px solid black;
    }
    .cajita5{
        display: flex;
        flex-direction: row;
        align-items: right;
        justify-content: right;
        width: auto;
        height: 120%;
        border-left: 1px solid black;
        padding-bottom: 60 px;
    }

a {
        text-align: center;
        text-decoration: none;
        color: black;
        padding: 8px;
        width: 100px;
        border: 1px solid;
    }

.pre1{
    border: solid black 4px;
    border-color: #95B3D7;
   

}
.pre2{
    border:solid black 4px;
    border-color: #C0504D;

}
.pre3{
    border: solid black 4px;
    border-color: #0070C0;

}
.pre4{
    border: solid black 4px;
    border-color: #C60000;

}
.pre5{
    border: solid black 4px;
    border-color: #C60000;

}
.baja{
    background-color: #C60000;
    padding: 20px;
}
.fuente{
    color:#FFC000;
    font-size: 18px;
    text-align: left;
}

#derecha {
    width: 100px;
    border-left:  1px solid black;
}
#izquierda{
    width: 100px;
    border-right: 1px solid black;
    
}
ul.menu{
    list-style-type: none;
    padding:10px ;
}
ul.menu li a:link,ul.menu li a:visited{
    text-decoration: none;
}
ul.menu li a:hover{
    background-color:  rgb(16, 143, 143);
}
ul.menu li {
    background-color: bisque;
}
ul.menu li a{
    margin-bottom: 10px;
}