
#contenido {
    margin: 0 auto;
    width: 900px;
    border: 1px solid black
}
.encabezado{
    background-color: green;
    width: 900px;
}
.logo{
    background-color: yellow;
    width: 18px;
}
.universidad{
    width: 80%;
    background-color: red;
}
.titulo-rojo {
    color: red;
}

