/* css PARA MI CIUDAD */
#Titulo {
    color: rgb(8, 5, 5);
    font-family:serif ;
    font-size: 50px;
    text-align: center;
    
}
.parrafo{
    text-align:start;
    font-size: 18px;
    padding: 20px;
    font-family: serif;
}
.parrafo2{
    text-align: start;
    font-size: 20px;
    padding: 20px;
    font-family:cursive ;
}
.parrafo2-1{
    display: inline-block;

}
.resaltarCI{
    background-color: rgb(218, 245, 155);
}
#FONDO-CIUDAD {
    background-image: url("imagenes/sucrede.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
/* CSS PARA MI PERSONA  */
#Titulo3 {
    color: rgb(253, 245, 245);
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
}

#FONDOYO {
    background-image: url("imagenes/yo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-right: 570px; 
}

.parrafoAP1, .parrafoAP2 {
    text-align: center;
    font-size: 25px;
    padding: 20px;
    font-family: sans-serif;
    color: aliceblue;
}

.parrafoAP3 {
    text-align: center;
    font-size: 40px;
    padding: 20px;
    font-family: sans-serif;
    color: aliceblue;
}

.parrafoAP4 {
    font-size: 0px;
}

.resaltarPAPA2 {
    background-color: rgb(10, 54, 94);
}

.contenido-principal {
    margin-right: 570px; /* Dejar espacio para la columna de 550px más un poco de margen */
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 50px;
    position: fixed;
    right: 0;
    top: 50px;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-sizing: border-box;
    height: 100vh;
}

.menu li {
    margin: 10px 0;
}

.menu li a {
    text-decoration: none;
    color: aliceblue;
    padding: 10px 10px;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-align: center;
}

.menu li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


/* css PARA MIS AMIGOS */
#Titulo4{
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    text-align: center;
    
}

.parrafoAM1{
    text-align: center;
    font-size: 25px;
    padding: 20px;
    font-family: sans-serif;
    color: aliceblue;
}
.parrafoAM2{
    text-align: center;
    font-size: 25px;
    padding: 1px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
}
.parrafoAT1{
    text-align: center;
    font-size: 50px;
    padding: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
}
#FONDOAMIGOS {
    background-image: url("imagenes/amigosde.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
.FONDOPAR1{
    color:rgb(165, 57, 57);
    font-family:sans-serif;
    font-size: 20px;
    text-align: center;
}
.FONDOPAR2{
    color:rgb(165, 57, 57);
    font-family:sans-serif;
    font-size: 20px;
    text-align: center;
}
.FONDOPAR3{
    color:rgb(165, 57, 57);
    font-family:sans-serif;
    font-size: 20px;
    text-align: center;
}
.FONDOPAR4{
    color:rgb(255, 255, 255);
    font-family:sans-serif;
    font-size: 10px;
    text-align: center;
}
.resaltarPA1{
    background-color: rgb(178, 206, 230);
}
.resaltarPA2{
    background-color: rgb(48, 88, 122);
}
.FONDOPAR5{
    color:rgb(34, 114, 134);
    font-family:sans-serif;
    font-size: 20px;
    text-align: center;
}




/* css PARA MIS PASATIEMPOS */
#Titulo5{
    color:rgb(255, 255, 255);
    font-family:sans-serif;
    font-size: 40px;
    text-align: center;
}


#FONDOHOBBY {
    background-image: url("imagenes/pasat.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
#joyboy{
    background-image: url("imagenes/joyboy.jpg");
}
.parrafoHO1{
    text-align: center;
    font-size: 25px;
    padding: 20px;
    font-family: sans-serif;
    color: aliceblue;
}
.parrafoHO2{
    text-align: center;
    font-size: 25px;
    padding: 20px;
    font-family: sans-serif;
    color: aliceblue;
}
.borde{
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
    border-color: rgb(255, 254, 254);
    border-width:10px 15px 15px 15px;
    text-align: center;
    
}

.parrafoH1{
    text-align: center;
    font-size: 25px;
    padding: 20px;
    font-family: sans-serif;
    color: aliceblue;
}
.parrafoH2{
    text-align: center;
    font-size: 25px;
    padding: 20px;
    font-family: sans-serif;
    color: aliceblue;
}
.parrafoH3{
    

    text-align: center;
    font-size: 30px;
    padding: 20px;
    font-family: 'Lobster', cursive;
    color: rgb(0, 0, 0);
}
.resaltarH3{
    background-color: aliceblue;
}
.parrafoH4{
    text-align: center;
    font-size: 25px;
    padding: 20px;
    font-family: sans-serif;
    color: aliceblue;
}
.imagen{
    width: 200px;
    height: 200px;
    border: auto;
}



/* css para MI FAMILIA  style="text-align: center; font-family: cursive;"*/
#Titulo2{
    color: rgb(81, 38, 109);
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    text-align: center;
    margin: auto;
    
}

#FONDOFAMILIA {
    background-image: url("imagenes/fami.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
.parrafoLIS{
    text-align:center;
    font-size: 20px;
    padding: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    
}
.bordeLI{
    border-style: solid;
    border-color: rgb(211, 141, 141);
    border-width:10px 15px 15px 15px;
}
.resaltarLI{
    background-color: rgb(161, 202, 238);
}
/*CSS PARA MENSAJE */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

.formulario {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    width: 80%;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 60%;
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.boton {
    background-color: #4CAF50;
    color: #fff;
    padding: 50px 10px;
    border: none;
    border-radius: 5px;
    

}


